/* Universal selector sets box sizing, padding, and margin to all elements in the HTML */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Sets the background color to #d9dcd6 to the <body> element in the HTML */
body {
    background-color: #3d4435;
    color: #ffffff;
}
/* Sets padding, font-family, background color, and text color to the <header> element in the HTML */
header {
    padding: 20px;
    text-align: center;
    background-color: #3d4435;
    color: #ffffff;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.header-line-1  {
    display: block;
    font-size: 32px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
/* Sets padding, margin, positioning, font-family, and font size to the "nav-text-right" class in the HTML <header> */
.nav-text {
    padding-top: 15px;
    font-family: 'Optima', 'Helvetica Neue', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
/* Sets a style type of "none" to the unordered list for use in the HTML */
ul {
    list-style-type: none;
 
}
/* Sets a display and margin to the list items for use in the HTML */
li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
/* Sets a color and text decoration of "none" to the anchor element for use with the href attribute in the HTML */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.header-line-2  {
    padding-top: 120px;
    display: block;
    font-size: 24px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.header-line-3  {
    padding-top: 30px;
    display: block;
    font-size: 48px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 135;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.header-line-4  {
    padding-bottom: 40px;
    display: block;
    font-size: 48px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 135;
}
/* Sets the font size to "16px" to the <p> paragraph element for use in the HTML */
p {
    font-size: 16px;
}
/* Sets height, width, margin, object fit, object position, and display to the <img> in the "hero" class in HTML <main> */
.hero img {
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.header-about-me  {
    padding-top: 125px;
    text-align: center;
    display: block;
    font-size: 48px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 135;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.header-work  {
    padding-top: 125px;
    text-align: center;
    display: block;
    font-size: 48px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 135;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.header-contact-me  {
    padding-top: 125px;
    text-align: center;
    display: block;
    font-size: 48px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 135;
}
/* Sets display, and font size styling to the "hori" class in the HTML <header> */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* Sets width, display, and margin to the "content" class in <main> */
.about-me {
    padding-bottom: 60px;
    justify-content: center;
}
/* Sets width, display, and margin to the "content" class in <main> */
.work {
    padding-bottom: 60px;
    justify-content: center;
}
/* Sets width, display, and margin to the "content" class in <main> */
.contact-me {
    padding-bottom: 60px;
    justify-content: center;
}
/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column .card-column-primary {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}
/* make each code card a flexbox column to align and justify content within it */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    text-align: center;
}
/* make each code card a flexbox column to align and justify content within it */
.container-primary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    text-align: center;
}
.container .card-header-1 {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    font-size: 32px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.container .card-header-2 {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    font-size: 32px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-bottom: 30px;
}
.container-primary .card-header-2 {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    font-size: 32px;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-bottom: 30px;
}
.card-body {
    font-family: 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 30px;
}
/* Sets padding, clear, font family, and text align to the "footer" class in the <footer> section of the <body> */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Helvetica Neue', 'Optima', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
}
/* Sets font size to <h2> of the "footer" class in the <footer> section of the <body> */
.footer h2 {
    font-size: 16px;
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 40%;
      max-width: 40%;
    }
  }
  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column-primary {
      flex: 0 0 80%;
      max-width: 100%;
    }
  }
  /* media query for larger screens */
@media screen and (min-width: 992px) {  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
    /* media query for larger screens */
@media screen and (min-width: 992px) {  
    .card-column-primary {
      max-width: 100%;
    }
  }
  /* media query for larger screens */
  @media screen and (max-width: 992px) {  
    .card-column img {
      width: 100%;
    }
  }
    /* media query for larger screens */
    @media screen and (max-width: 992px) {  
        .card-column-primary img {
          width: 100%;
        }
      }
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (max-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column img {
      width: 100%;
      align-self: center;
    }
  }
  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (max-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column-primary img {
      width: 100%;
      align-self: center;
    }
  }
  @media screen {
    .solid-line-1 {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
  }
  @media screen {
    .solid-line-2 {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
  }